.block.labels
  .title
    = _("Labels")
    - if can_admin_issue?
      = icon("spinner spin", class: "block-loading")
      = link_to _("Edit"), "#", class: "js-sidebar-dropdown-toggle edit-link float-right"
  .value.issuable-show-labels.dont-hide
    %span.no-value{ "v-if" => "issue.labels && issue.labels.length === 0" }
      = _("None")
    %a{ href: "#",
      "v-for" => "label in issue.labels" }
      .badge.color-label.has-tooltip{ ":style" => "{ backgroundColor: label.color, color: label.textColor }" }
        {{ label.title }}
  - if can_admin_issue?
    .selectbox
      %input{ type: "hidden",
        name: "issue[label_names][]",
        "v-for" => "label in issue.labels",
        ":value" => "label.id" }
      .dropdown
        %button.dropdown-menu-toggle.js-label-select.js-multiselect.js-issue-board-sidebar{ type: "button",
          ":data-selected" => "selectedLabels",
          ":data-labels" => "issue.assignableLabelsEndpoint",
          data: label_dropdown_data(@project, namespace_path: @namespace_path, field_name: "issue[label_names][]") }
          %span.dropdown-toggle-text
            {{ labelDropdownTitle }}
          = icon('chevron-down')
        .dropdown-menu.dropdown-select.dropdown-menu-paging.dropdown-menu-labels.dropdown-menu-selectable
          = render partial: "shared/issuable/label_page_default"
          - if can?(current_user, :admin_label, current_board_parent)
            = render partial: "shared/issuable/label_page_create"
